<ng-container *ngIf="satelliteDetails$ | async as satelliteDetails">
  <section style="padding-top: 20px;">
    <mat-card style="width: 400px; margin: auto;">
      <mat-card-header>
        <mat-card-title>{{ satelliteDetails.satelliteNumber + ' - ' + satelliteDetails.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Integrator Controls</h3>
        <div *ngFor="let ic of satelliteDetails.integratorControls">
          <h4>{{ic.application}}</h4>
              <div *ngFor="let field of ic | keyvalue">
                <p><b>{{field.key}}</b>:    {{field.value}}</p>
              </div>
        </div>
        <hr>
        <h3>Element Conversion Controls</h3>
        <div *ngFor="let ecc of satelliteDetails.elementConversionControls">
          <h4>{{ecc.application}}</h4>
          <div *ngFor="let field of ecc | keyvalue">
            <p><b>{{field.key}}</b>:      {{field.value}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
